<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    
    <!-- Load pure Tufte CSS -->
    <link rel="stylesheet" href="/web/tufte.css">
    
    <!-- Fix sidenote formatting -->
    <style>
        .sidenote {
            font-style: normal !important;
        }
    </style>
    
</head>
<body>
    {{ block "main" . }}{{ end }}
</body>
</html>